<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HabitHero</title>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <script src="/js/darkmode.js" defer></script>
</head>
<body>
  <nav class="navbar">
    <div class="logo">HabitHero</div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><button onclick="toggleDarkMode()" class="dark-toggle">🌓 Dark Mode</button></li>
    </ul>
  </nav>
